:root {
  /* Colours */
  --color-text: #000;
  --color-primary: #636569;
  --color-secondary: #313132;
  --color-dark: #0b2447;
  --color-bg: #f5f5f5;

  /* Fonts */
  --font-roboto: "Roboto";
}
